# Credentials
*.env*

# www2-yude-jp
www2-yude-jp/html

# shadowbanalerts
shadowbanalerts/ShadowbanAlerts.json

# hedgedoc
hedgedoc/app
hedgedoc/data
hedgedoc/config.json

# gotify
gotify/data

# gitea-soine-site
gitea-soine-site/data

# dtv
dtv/epgstation/data
dtv/epgstation/logs
dtv/epgstation/thumbnail
dtv/epgs-to-discord/config.toml
dtv/recorded

# smokeping
smokeping/data

# automuteus
automuteus/db
automuteus/redis

# misskey.yude.jp
misskey.yude.jp/db
misskey.yude.jp/files
misskey.yude.jp/redis

# shlink
shlink/db

# youbine
youbine/data

# roundcube
roundcube/db

# 200ok
200ok/config.toml

# annict-activity-to-mastodon
annict-activity-to-mastodon/config.toml
